@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  font-family: "Roboto", sans-serif;
}

main {
  width: 100%;
  
  ul {
    list-style: none;
  }
  .container {
    display: flex;
  }

  .lateral-menu {
    background: #000;
    color: #fff;

    width: 250px;
    height: 93vh;
    padding: 1.8em 0;

    font-size: 1.2rem;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    ul li {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 3em 0;
    }

    ul li img {
      margin-bottom: 1.1em;
    }

    .settings {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .settings svg {
      margin-right: 2em;
    }  
  }
  .content {
    background: #f5f6fa;
    width: 100%;
    
    .card {
      background: #ffffff;
      box-shadow: 4px 4px 15px rgba(0,0,0,0.25);
      border-radius: 16px;
      margin: 0px 20px;
      height: 132px;
    }

    .card-small {
      width: 240px;
      
      display: flex;
      align-items: center;
    }
    .card-large {
      width: 464px;

      .card-container .card-content:first-child {
        border-right: 3px solid #000;
      }
    }

    .card-content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 80%;
      width: 100%;


      .card-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        h2 {
          font-size: 54px;
          font-weight: bold;
          color: #ffba33;
        }
        p {
          font-size: 16px;
        }
      }

    }

    .card .card-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%
    }

    .cards-header {
      display: flex;
      justify-content: center;
      padding: 20px;
    }
  }















  .containerb {
    display: flex;
    flex-direction: row;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 33%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 33%, rgba(255,255,255,1) 100%);
    background: linear-gradient(180deg, rgba(0,0,0,1) 33%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);

    .loader {
      align-self: center;
      border: 10px solid #fefe00;
      border-radius: 50%;
      border-top: 10px solid #000000;
      width: 65px;
      height: 65px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
      margin: 0 auto;
    }
    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  }
}